.auth-layout {
  background: $white;
  display: flex;
  min-height: 100vh;

  .topbar {
    justify-content: space-between;

    .topbar-header {
      display: block;
    }

    .topbar-profile {
      display: none;
    }
  }

  .main {
    display: flex;
    flex: 1;
    margin-left: 0;
    margin-top: 78px;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 1023px) {
  .auth-layout {
    .main {
      padding: 20px;
    }
  }
}
