.progress-steps {
  display: flex;
  height: 56px;

  .step-btn {
    align-items: center;
    background: transparent;
    border: 0;

    border-right: 0.5px solid $color-c4c4c4;
    display: flex;
    padding: 0;
    position: relative;
    width: 100%;

    .active-bar {
      background: transparent;
      left: 0;
      min-height: 56px;
      min-width: 17px;
      position: absolute;
    }

    .step-name {
      align-items: center;
      border-radius: 100%;
      color: $black-999;
      display: flex;
      font-size: 14px;
      height: 24px;
      justify-content: center;
      line-height: 14px;
      margin: auto;
      text-align: center;
      width: 24px;
    }

    &:focus {
      outline: none;
    }

    &.active {
      .active-bar {
        background: $color-f6fef6;
      }
    }

    &.past {
      background: $color-f6fef6;
    }

    &.completed {
      .step-name {
        background: $green;
        color: $white;
      }
    }

    &:first-child {
      border-top-left-radius: 16px;
    }
  }
}
