.saved-bank-info {
  display: flex;

  .bank-logo {
    height: 40px;
    width: 40px;
  }

  .details {
    margin-left: 16px;

    .account-name {
      color: $color-353f50;
      font-size: 14px;
      line-height: 24px;
    }

    .account-number {
      color: $black-333;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 4px;
    }

    .bank-name {
      color: $black-333;
      font-size: 14px;
      line-height: 24px;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .saved-bank-info {
    display: flex;

    .bank-logo {
      height: 35px;
      width: 35px;
    }

    .details {
      margin-left: 16px;

      .account-name {
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
      }

      .account-number {
        font-size: 12px;
        line-height: 20px;
      }

      .bank-name {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}
